h1 {
    font-weight: 500;
    opacity: 70%;

}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .result-bingo-container {

        display: flex;
        flex-wrap: wrap;
        width: 410px;
        border-radius: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        // margin-top: 5px;
        // margin-left: 5px;

        .result-bingo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            font-size: 35px;
            margin: 5px;
            border-radius: 50%;
            color: rgb(246, 7, 7);
            font-weight: 500;
        }
    }
}